<form #myForm="ngForm" (ngSubmit)="searchairports()" class="form-inline md-form mr-auto mb-4">
  <input [(ngModel)]="airportname" [ngModelOptions]="{standalone: true}" ngControl="post" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search airports in your city</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Type</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Range (km)</th>
      <th scope="col">Seats</th>
      <th scope="col">Length (m)</th>
      <th scope="col">Height (m)</th>
      <th scope="col">Wingspan (m)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let airport of airports; let i = index">
      <th scope="row">{{airports[i].name}}</th>
      <td>{{airports[i].code}}</td>
    </tr>
  </tbody>
</table>