<form #myForm="ngForm" (ngSubmit)="searchairports()" class="form-inline md-form mr-auto mb-4">
  <input [(ngModel)]="airportname" [ngModelOptions]="{standalone: true}" ngControl="post" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search airports in your city</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Airport Code</th>
      <th scope="col">City</th>
      <th scope="col">Country code</th>
      <th scope="col">Longitude</th>
      <th scope="col">Latitude</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let airport of airports; let i = index">
      <th scope="row">{{airports[i].name}}</th>
      <td>{{airports[i].code}}</td>
      <td>{{airports[i].city}}</td>
      <td>{{airports[i].countryCode}}</td>
      <td>{{airports[i].location.longitude}}</td>
      <td>{{airports[i].location.latitude}}</td>
    </tr>
  </tbody>
</table>